@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated-text {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation-name: fadeInLeft;
    animation-duration: 4s;
    animation-fill-mode: forwards; /* Keeps the element in the final state of animation */
}
