.contact-section {
    width: 100vw;
    height: 75vh;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    background-color: black;
    color: white
  }

.header {
    margin-bottom: 0px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-content {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.email-button {
    
    padding: 15px;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 15px;
}

.email-button:hover {

    color: black;
    background-color: white;

}
  
.social-links {
    display: flex;
    flex-direction: row;
    margin-top:50px;
    justify-content: center;
}

.social-link {
    padding: 20px;
}

p {
    flex: 1;
    justify-content: center;
    text-align: center;

}

.social-image {
    width: 100px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease
}

.social-container {
    margin: 50px;
    margin-top: 20px;
}

.social-image:hover {

    transform: scale(1.1); /* Slightly increase size */

}

#leetcode-icon {
    border-radius: 50%;
}

